@using Anti_Cafe.DAL.Models
@model List<Statuette>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Назва</th>
                <th scope="col">Кількість клієнтів</th>
                <th scope="col">Час заходу</th>
                <th scope="col">Час виходу</th>
                <th scope="col">Статус</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var s in Model)
            {
                <tr>
                    <th scope="row">1</th>
                    <td>@s.Name</td>
                    @if (s.Persons == null)
                    {
                        <td>-</td>
                    }
                    else
                    {
                        <td>@s.Persons</td>
                    }
                    @if (s.TimeIn != null)
                    {
                        <td>@s.TimeIn</td>
                        if (s.TimeOut != null)
                        {
                            <td>@s.TimeOut</td>
                        }
                        else
                        {
                            <td>-</td>
                        }

                    }
                    else
                    {
                        <td>-</td>
                        <td>-</td>
                    }
                    @if (s.InUse == 1)
                    {
                        <td>Використовується</td>
                    }
                    else
                    {
                        <td>Вільний</td>
                    }
                </tr>
            }
        </tbody>
    </table>

